# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\egitim_2020_video\Java-Learn_Java_with_inteliJ_idea_2020 (Linkedin)\github_source\07_01b_salary_calculator\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
